/*
* Chloe Gorman
* Date: 11/7/17
* In Class work
*/
	<head>
		<link rel=“style sheet” href=“filename.css”>	<!—-Links


/* The universal selector */

* {

}

/* Put body attributes here */

body {
	font-family: Ariel, "Times New Roman", serif; font-size: 110.5%;
	width: 850px; 
	margin: auto; 
	background-color: #EAE3EA; }
/*font for body*/

h1 {
	font-size: 230%;
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline overline; }
	/*box color for heading and format*/
	
h3 {
	background-color: #87AFC7; }
	/*box color for headings*/
	
.left {
	background-color: #A7B3A5; } 
	/*box color*/

main {
	margin: 0px;
	padding: 0px; }

a:link { color: #8467D7; }
a:hover, a:focus { color: #800517; } 
		/* format for links */